.flex {
    display: flex;
}

.--direction-column {
    flex-direction: column;
}

.--gap-8 {
    gap: 0.5rem;
}

.--gap-12 {
    gap: 0.75rem;
}

.--gap-16 {
    gap: 1rem;
}

.--gap-24 {
    gap: 1.5rem;
}

.--gap-32 {
    gap: 2rem;
}

.--gap-48 {
    gap: 3rem;
}

.--gap-64 {
    gap: 4rem;
}

.--gap-80 {
    gap: 5rem;
}

.--gap-96 {
    gap: 6rem;
}

.--gap-112 {
    gap: 7rem;
}