.mt-8 {
    margin-top: 0.5rem;
}

.mt-16 {
    margin-top: 1rem;
}

.mt-32 {
    margin-top: 2rem;
}

.mt-48 {
    margin-top: 3rem;
}

.mt-64 {
    margin-top: 4rem;
}

.mt-80 {
    margin-top: 5rem;
}

.mt-96 {
    margin-top: 6rem;
}